*{
    margin: 0
    padding:0;
}
/*navbar*/
.navbar{
    display:flex ;
    justify-content: center;
    height: 50px;
    align-items: center;
    position: relative;
}
.navbar::before{
    content: "";
    position: absolute;
    background-color:brown;
    height:100%;
    width: 100%;
    z-index: -1;

}
.navbar ul{
    display:flex;
    list-style: none;

}
.navbar ul li{
    font-size: 1.1rem;
}
.navbar ul li a{
    padding: 5px 60px;
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover{
    border-bottom: 2px solid black;
}
/*home section*/
#home{
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: center;
    align-items: center;
    background-color:azure;
    color:chocolate;

}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: .8;

}
.heading{
    color:chocolate;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    transform: scaleX(1,1.3);
}
